.container {
    border: 5px solid #CD7F32;
    background-color: whitesmoke;
    width: 50%;
    margin: auto;
    margin-bottom: 10%;
    border-radius: 10px;
}

.share-section {
    margin-bottom: 20%;
}