.heading-shares-section {
    text-align: center;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.container {
    width: 33%;
}