<mat-card>
    <mat-card-title>הרשמה</mat-card-title>
    <mat-card-content>
        <form [formGroup]="signupForm" (ngSubmit)="registerUser()">
            <p>
                <mat-form-field class="rtl">
                    <input type="text" matInput class="form-control" formControlName="firstName" placeholder="שם פרטי"
                        required />
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="rtl">
                    <input type="text" matInput class="form-control" formControlName="lastName" placeholder="שם משפחה"
                        required />
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="rtl">
                    <input type="text" matInput class="form-control" formControlName="userName" placeholder="שם משתמש"
                        required />
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="rtl">
                    <input type="password" matInput class="form-control" formControlName="password" placeholder="סיסמה"
                        required />
                </mat-form-field>
            </p>
            <p *ngIf="error" class="error">
                {{ error }}
            </p>
            <div class="button">
                <button type="submit" mat-button>הרשם</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>