<div class="topnav">
    <div class="nav-right">
        <a routerLinkActive="active" routerLink="/traders">סוחרים</a>
        <a routerLinkActive="active" routerLink="/stocks">מניות</a>
        <a *ngIf="this.authService.isLoggedIn" routerLinkActive="active" routerLink="/user-profile">פרופיל משתמש</a>
    </div>
    <div class="nav-left">
        <a *ngIf="!this.authService.isLoggedIn" routerLinkActive="active" routerLink="/log-in">התחברות</a>
        <a *ngIf="!this.authService.isLoggedIn" routerLinkActive="active" routerLink="/sign-up">הרשמה</a>
        <a (click)="logout()" *ngIf="this.authService.isLoggedIn" routerLinkActive="active">התנתק</a>
        <span class="logged-user-name"
            *ngIf="this.authService.currentUser?.firstName">{{this.authService.currentUser.firstName}} שלום</span>
    </div>
</div>

<router-outlet></router-outlet>