<div>
    <div class="heading-shares-section">
        <i class="back fa fa-long-arrow-right" aria-hidden="true" routerLink="/stocks"></i>
        <p class="screen-title">נתוני מניה</p>
    </div>
    <div class="container">
        <div class="share-section">
            <h2>{{share.name}}</h2>
            <p>מחיר: ${{share.currentPrice}}</p>
            <p>כמות: {{share.amount}}</p>
        </div>
    </div>
    <div *ngIf="this.authService.isLoggedIn" class="buttons-section">
        <div class="buttons-space">
            <button class="share-details-button" (click)="makeOffer('sell')">הגש הצעה למכירה</button>
            <button class="share-details-button" (click)="makeOffer('buy')">הגש הצעה לקניה</button>
        </div>
    </div>

    <!-- Open offers table -->
    <div class="table-container">
        <p class="table-title">הצעות פתוחות</p>
        <table *ngIf="offersDataSource" mat-table [dataSource]="offersDataSource" class="mat-elevation-z8" dir="rtl"
            [loading]="isOffersLoading">

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>תאריך</th>
                <td mat-cell *matCellDef="let element"> {{element.requestDate | date:'dd/MM/YYYY'}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>סוג הצעה</th>
                <td mat-cell *matCellDef="let element"> {{element.type == 'buy' ? 'קניה' : 'מכירה'}} </td>
            </ng-container>

            <ng-container matColumnDef="offeredType">
                <th mat-header-cell *matHeaderCellDef>סוג המציע</th>
                <td mat-cell *matCellDef="let element"> {{element.offeredType == 'trader' ? 'סוחר' : 'חברה'}} </td>
            </ng-container>

            <ng-container matColumnDef="offeredName">
                <th mat-header-cell *matHeaderCellDef>שם המציע</th>
                <td mat-cell *matCellDef="let element"> {{element.offeredType == 'trader' ? element.offeredTrader?.name
                    : share?.name}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="offersDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: offersDisplayedColumns;"></tr>
        </table>
        <div *ngIf="!offersDataSource.length && !isOffersLoading">
            <p class="records-not-found">!לא נמצאו הצעות פתוחות למניה זו</p>
        </div>
    </div>

    <!-- Last deals table -->
    <div class="table-container">
        <p class="table-title">עסקאות אחרונות</p>
        <table *ngIf="dealsDataSource" mat-table [dataSource]="dealsDataSource" class="mat-elevation-z8" dir="rtl"
            [loading]="isDealsLoading">

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>תאריך</th>
                <td mat-cell *matCellDef="let element"> {{element.date | date:'dd/MM/YYYY'}} </td>
            </ng-container>

            <ng-container matColumnDef="sellerType">
                <th mat-header-cell *matHeaderCellDef>סוג המוכר</th>
                <td mat-cell *matCellDef="let element"> {{element.sellerOffer.offeredType == 'trader' ? 'סוחר' :
                    'חברה'}} </td>
            </ng-container>

            <ng-container matColumnDef="sellerName">
                <th mat-header-cell *matHeaderCellDef>שם המוכר</th>
                <td mat-cell *matCellDef="let element"> {{element.sellerOffer.offeredType == 'trader' ?
                    element.sellerOffer.offeredTrader?.name
                    : share?.name}} </td>
            </ng-container>

            <ng-container matColumnDef="buyerType">
                <th mat-header-cell *matHeaderCellDef>סוג הקונה</th>
                <td mat-cell *matCellDef="let element"> {{element.buyerOffer.offeredType == 'trader' ? 'סוחר' :
                    'חברה'}} </td>
            </ng-container>

            <ng-container matColumnDef="buyerName">
                <th mat-header-cell *matHeaderCellDef>שם הקונה</th>
                <td mat-cell *matCellDef="let element"> {{element.buyerOffer.offeredType == 'trader' ?
                    element.buyerOffer.offeredTrader?.name
                    : share?.name}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>מחיר</th>
                <td mat-cell *matCellDef="let element"> ${{element.price}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="dealsDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: dealsDisplayedColumns;"></tr>
        </table>
        <div *ngIf="!dealsDataSource.length && !isDealsLoading">
            <p class="records-not-found">!לא נמצאו עסקאות שבוצעו במניה זו</p>
        </div>
    </div>
</div>