.heading-shares-section {
    text-align: center;
}

.container {
    text-align: center;
    border: 5px solid #CD7F32;
    background-color: whitesmoke;
    width: 25%;
    margin: auto;
    border-radius: 10px;
}

.share-section {
    margin: 15%;
}

.table-container {
    margin-top: 20px;
    width: 75%;
    margin: auto;
}

.table-title {
    margin: 20px;
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: bold;
}

table {
    width: 100%;
}