.heading-shares-section {
    text-align: center;
}

.container {
    text-align: center;
    border: 5px solid #CD7F32;
    background-color: whitesmoke;
    width: 25%;
    margin: auto;
    border-radius: 10px;
}

.share-section {
    margin: 15%;
}
