.container {
    border: 5px solid #CD7F32;
    background-color: whitesmoke;
    width: 50%;
    margin: auto;
    margin-bottom: 10%;
    border-radius: 10px;
}

.share-section {
    margin-bottom: 20%;
}

.buttons-section {
    margin-bottom: 5%;
}

.share-details-button {
    cursor: pointer;
    background-color: #4c5eaf;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}