/* You can add global styles to this file, and also import other style files */
@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  font-family: 'hebbo', 'arial', sans-serif;
}

body { 
  position: relative;
  background: url('assets/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.screen-title {
  color: $blue;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
